@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  background-color: rgb(253, 253, 253);
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'ogg';
  src: url('/font/OggRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'ogg';
  src: url('/font/OggRegular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'jam';
  src: url('/font/jamgrotesque-regular.otf') format('opentype');
}
@font-face {
  font-family: 'garet';
  src: url('/font/Garet-Book.woff2') format('woff2'),
    url('/font/Garet-Book.woff') format('woff');
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: rgb(26, 26, 26);
}
