@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  background-color: rgb(253, 253, 253);
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'ogg';
  src: url('/font/OggRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'ogg';
  src: url('/font/OggRegular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'hacky';
  src: url('/font/Hacky\ Demo.ttf') format('truetype');
}
